body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.draggable {
  margin: 0 auto;
  z-index: 2;
}

.draggable:hover {
  cursor: grab;
}

.future {
 background-color: white;
 color: black;
}

.dueSoon {
background-color: #ffc107;
color: black;
}

.dueToday{
background-color: salmon;
color: red;
}

.overdue{
background-color: darkred;
color: antiquewhite;
}