body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.draggable {
  margin: 0 auto;
  z-index: 2;
}

.draggable:hover {
  cursor: grab;
}

.future {
 background-color: white;
 color: black;
}

.dueSoon {
background-color: rgb(248, 220, 63);
color: black;
}

.dueToday{
background-color: salmon;
color: rgb(255, 230, 0);
}

.overdue{
background-color: darkred;
color: pink;
}